a:link, a:visited {
    text-decoration: inherit;
    color: inherit;
}

.aboutText, .projectContent, .contactInfo {
    margin-left: 1em;
    margin-right: 1em;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #F5F1E8;
    color: #F5F1E8;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}
.menu {
   position: fixed;
   top: 0;
   width: 100%;
   background: #F5F1E8;
}
.menuLinks {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .2em .5em .2em .5em;
    border-bottom: 3px solid;
    font-size: 27px;
    font-weight: 600;
}

.helloBody {
    margin-left: .5em;
    margin-right: .5em;
    display: flex;
    flex-direction: column;
    color: black;
    background: #F5F1E8;
    margin-top: 4em;
    margin-bottom: 1em;
}

.helloText{
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}

.helloName {
    font-size: 73px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.photo {
    align-self: center;
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin: 1em;
}

.about {
    margin: 0;
    padding: 0;
    background: #A05335;
}
.aboutText{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    margin-top: 1em;
    margin-bottom: .4em;
    font-size: 37px;
    font-weight: 700;
}

.aboutList {
    margin-bottom: 1.5em;
}

.aboutElem {
    font-size: 22px;
    margin-top: .7em;
    margin-bottom: .7em;
}

.projects {
    background: #9E7A49;
}

.projectContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.ezbiteTitle {
    font-size: 35px;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: .75em;
    text-decoration: underline;
}

.ezbiteInfo {
    margin-top: 0;
    font-size: 20px;
}

.github {
    background: #7392AF;
}

.githubContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.githubLink {
    font-weight: 700 !important;
    color: #A05335 !important;
    text-decoration: underline !important;
}

.contact {
    background: #1F3444;
}

.contactInfo {
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactHeader {
    margin-top: 1em;
    margin-bottom: .4em;
    font-weight: 700;
    font-size: 43px;
}

.contactElem {
    font-size: 17px;
    margin-top: .5em;
}

@media only screen and (min-width: 1024px) {
    .menu{
        z-index: 1; /* Stay on top */
        top: 25em;
        left: 100em;
        width: 300px;
        background: none;
        overflow-x: hidden;
    }
    .menuLinks{
        flex-direction: column;
        font-size: 60px;
        font-weight: 400;
        border: none;
        align-items: flex-start;
        
    }

    .aboutText, .projectContent, .contactInfo, .helloBody {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .helloBody {
        margin-top: 1em;
    }
    
    .helloText{
        font-size: 60px;
    }

    .helloName {
        font-size: 175px;
    }

    .photo {
        width: 400px;
    }

    .aboutTitle{
        font-size: 60px;
        align-self: flex-start;
    }

    .aboutElem {
        font-size: 40px;
    }

    .ezbiteTitle {
        font-size: 60px;
    }

    .ezbiteInfo {
        font-size: 40px;
        width: 38em;
        padding-left: 2em;
    }

    .githubContent {
        font-size: 60px;
    }

    .contactHeader {
        font-size: 60px;
    }

    .contactElem {
        font-size: 20px;
    }
}